.gpt3__features {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.gpt3__features-card {
    /*width: 100%;*/
    display: flex;
    /*justify-content: space-between;*/
    flex-direction: column;
    
    padding: 2rem;
    border-radius: 10px;
}

.gpt3__features-card button:hover{
    background:var(--light-blue);
}

.gpt3__features-heading {
    flex: 1;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;

    text-align: center;
    margin-right: 2rem;
    font-family: var(--title-font);
}

.gpt3__features-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--title-font);
    margin-bottom: 2rem;
}

.gpt3__features-heading p {
    color: var(--color-subtext);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: 'Inter';
    cursor: pointer;
    margin-top: 2rem;
}



.gpt3__features-container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 990px) {
    .gpt3__features {
        flex-direction: column;
    }

    .gpt3__features-heading {
        margin: 0 0 2rem 0;
    }
}


@media screen and (max-width: 550px) {
    .gpt3__features-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
    .gpt3__features-container__feature-number{
        display: none;
    }
    .gpt3__features-container__feature{
        flex-direction: column;
        gap:10px;
    }
    
}